:root{
    --font-sans-serif: Quicksand, sans-serif;
    --black: #1a1a1a;
    --light-pink: #FFF0F4;
    --dark-pink: #ffa8c3;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    line-height: 1.8;
    background: var(--light-pink);
    font-size: 18px;
}

img {
    max-width: 50%;
    border: 1px solid var(--dark-pink);
}
