:root{
    --font-sans-serif: Quicksand, sans-serif;
    --black: #1a1a1a;
    --light-pink: #FFF0F4;
    --dark-pink: #ffa8c3;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    line-height: 1.5;
    font-size: 18px;
    background: var(--light-pink);
}
/*link hover*/
a {
	color: var(--black);
	text-decoration: none;
}
.link {
  border-bottom: 2px solid var(--black);
}
.link:hover { 
	background: var(--black);
	color: var(--light-pink);
}
/*img default*/
img {
	max-width: 100%;
	height: auto;
}
/*header background*/
