:root{
    --font-sans-serif: Quicksand, sans-serif;
    --black: #1a1a1a;
    --light-pink: #FFF0F4;
    --dark-pink: #ffa8c3;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    line-height: 1.5;
    font-size: 1.8rem;
    font-size: 18px;
}
img {
	max-width: 100%;
	height: auto;
}
/*link hover*/
a {
	color: var(--black);
	text-decoration: none;
}
.link {
  border-bottom: 2px solid var(--black);
}
.link:hover { 
	background: var(--black);
	color: var(--light-pink);
}

/*page background*/
.page {
  background: var(--light-pink) url(https://looneypatterns.com/images/bg.png) fixed repeat;
  background-size: 144px;
  width: 100%;
	height: 100%;
} 

/*nav*/
.free {
  width: calc(100% - 60px);
  max-width: 1200px;
  height: 70px;
  position: fixed;
  margin: 0 auto;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 9998;
}
  
.free-background {
  width: calc(100% - 60px);
  max-width: 1200px;
  height: 180px;
  position: fixed;
  margin: 0 auto;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: right;
}

.free-background img{
  height: 180px;
}

.free img {
	display: block;
	margin-left: calc(100% - 280px);
	width: 240px;
	z-index: 9998;
}

/*titles*/
.whaaat-title {
	max-width: 226px;
	margin: 0 auto 60px;
}

.features-title {
	max-width: 226px;
	margin: 0 auto 60px;
}

.logo-image {
	width: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 100%;
  height: 100vh;
  min-height: 540px;
}

/*transition*/
.top {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: -1px;
}

.page-container {
  background: #FFF0F4;
  position: relative;
  height: 100%;
  text-align: center;
}

/*patterns*/

.whaaat-copy {
  margin: 0 0 60px 0;
  padding: 0 120px;
  position: relative;
}

/*patterns*/

.line {
	width: 180px;
	margin: 60px auto 60px;
}