:root{
    --font-sans-serif: Quicksand, sans-serif;
    --black: #1a1a1a;
    --light-pink: #FFF0F4;
    --dark-pink: #ffa8c3;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    line-height: 1.5;
    font-size: 18px;
    background: var(--light-pink);
}
