<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible"
    content="ie=edge"/>
    <title>Components | Looney Patterns</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
    <h1>Web Components</h1>
    <h2>Typography</h2>  
    <article class="component">
        <h3 class="component__name">BODY</h3>
            <img src="img/s1-copy.png" alt="body copy"/>
    <div class="component__code">
        <p>45 cool seamless hand-drawn vector patterns for your next awesome project. Perfect for websites, apps, graphic design, packaging and everything that need a looney pattern.</p>
    <h2>Atoms</h2> 
    </div>
        <h3 class="component__name">HEADER</h3>
            <img src="img/header-free-btn.png" alt="free"/>
            <img src="img/header-free-btn-bg.png" alt="free background"/>
            <img src="img/header-honors-btn.png" alt="honors button"/>
            <img src="img/header-logo.png" alt="logo"/>
            <img src="img/header-eye-bg.png" alt="pattern"/>
        
        <h3 class="component__name">SECTION 1</h3>
            <img src="img/s1-whaaat-title.png" alt="whaaat title"/>
            <img src="img/s1-shapes.png" alt="shapes"/>
            <img src="img/s1-pattern thumbnails.png" alt="pattern thumbnails"/>
            <img src="img/s1-eye-btn.png" alt="eye button"/>
            <img src="img/s1-copy.png" alt="copy"/>

        <h3 class="component__name">SECTION 2</h3>
            <img src="img/s2-features-title.png" alt="features title"/>
            <img src="img/s2-icon-commercialuse.png" alt="commercial use icon"/>
            <img src="img/s2-commercialuse-copy.png" alt="commercial use copy"/>
            <img src="img/s2-icon-filetype.png" alt="file type icon"/>
            <img src="img/s2-filetype-copy.png" alt="file type copy"/>
            <img src="img/s2-icon-fullyeditable.png" alt="fully editable icon"/>
            <img src="img/s2-fullyeditable-copy.png" alt="fully editable copy"/> 
        
        <h3 class="component__name">SECTION 3</h3>
            <img src="img/s3-title.png" alt="showcase title"/>
            <img src="img/s3-showcase-business-card.png" alt="business cards"/>
            <img src="img/s3-showcase-phone-case.png" alt="iphone case"/>
            <img src="img/s3-showcase-t-shirt.png" alt="t-shirt"/>
            <img src="img/s3-reveal-btn.png" alt="reveal buttone"/>
         
    </article>

</body>
</html>