<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible"
    content="ie=edge"/>
    <title>Components | Looney Patterns</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
    <h1>Web Components</h1>
    <h2>Typography Defaults</h2>  
    <article class="component">
        <h3 class="component__name">BODY</h3>
            <img src="img/s1-copy.png" alt="body copy"/>
    <div class="component__code">
        <p>45 cool seamless hand-drawn vector patterns for your next awesome project. Perfect for websites, apps, graphic design, packaging and everything that need a looney pattern.</p>
    <h2>Atoms</h2> 
    </div>
        <h3 class="component__name">HEADING</h3>
            <img src="img/header-free-btn.png" alt="free"/>
            <img src="img/header-free-btn-bg.png" alt="free background"/>
            <img src="img/header-honors-btn.png" alt="honors button"/>
            <img src="img/header-logo.png" alt="logo"/>
            <img src="img/header-eye-bg.png" alt="pattern"/>
    

    </article>

</body>
</html>